body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Mask {
  margin: 10px;
  padding: 10px;
  width: 223.3px;
  height: 340px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.Add-a-note {
  position: relative;
  top: 30%;
  text-align: center;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.4px;
  color: #c7c7c7;
}


.Title-input-box {
  border: 0;
  outline: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid black;
}

.Relates-to-select {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-color: black !important;
  width: 100%;
  outline: 0px;
}

.Note-textarea {
  margin-right: 10px;
  margin-left: 10px;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  width: 100%;
  outline: 0px;
}

.Add-note-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

#root .container-fluid {
  padding: 10px !important;
}





/** {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    margin: 0 50px;
}*/

.react-draggable, .cursor {
  cursor: move;
}

.no-cursor {
  cursor: auto;
}

.cursor-y {
  cursor: ns-resize;
}

.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}



.Pill_Green {
  width: 258px;
  height: 36px;
  background-color: #bbf2b6;
}


/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

