@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Palatino');

.select-box {
  position: absolute; 
  opacity: 0; 
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    label {
      cursor: pointer;
    }
  }

 & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 17px;
    height: 16px;
    background: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    float : left;
  }
  &:checked + label:before {
    background: #fff;
  }
  
  &:checked + label > span:before {
    content: '';
   position: absolute;
   width: 1.2ex;
   height: 0.4ex;
   background: rgba(0, 0, 0, 0);
   top: 0.8ex;
   left: 0.6ex;
   border: 2px solid #6a7070;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
  }

  &:checked + label{
    color:#383838;
  }
  &.FROM_INSTRUCTOR {
    & + label:before {
      background:#ccf5fd;
    }
  }
  &.OBSERVATIONS {
    & + label:before {
      background:#fed3ec;
    }
  }
  &.QUESTIONS {
    & + label:before {
      background:#ffedad;
    }
  }
  &.MAIN_IDEAS {
    & + label:before {
      background:#bbf2b6;
    }
  }
}
.listbox:first-child label:before {
    /*border: none;*/
}
.listbox:first-child{
  padding : 10px !important;
}
.listbox.label { 
  padding: 10px;
}
.all {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.3px;
  text-align: center;
  cursor:pointer;
  padding: 0 10px;
  &.filterLabel{
    width: 105px;
    height: 18px;
    padding-left: 0;
    text-align: left;
    .default{
      color: #252525;
    }
    .active{
      color: #047a9c;
      font-weight: bold;
    }
  }
  .dropdownImg {
    margin-left: 10px;
  }
  &.active {
    color: #047a9c;
    font-weight: bold;
  }
}
.item {
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
//  min-height: 238px;
  &.groupStyle {
    padding-bottom:30px;
  }
  .item-name {
    border-radius: 4px;
  }    
  .item-container {
    padding-right: 7px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
  }
      
}
.desk {
  width: 268px !important;
}
.desk-items {
  width: 268px !important;
}

.footerNote { 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  width: 100px;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: left;
  color: #6a7070; 
 }
 .footerDate {
    font-size: 12px;
    letter-spacing: -0.1px;
    text-align: right;
    color: rgb(106, 112, 112);
    padding: 0 0 0 26px;
    background: white;
    font-family: Open Sans;
 }
 .verticalAlign {
    display: inline-block;
    vertical-align: middle;
 }
 .footerTable {
    width: 247px;
    padding-right: 15px;
 }
 .groupSelect {
    background-color: #ffffff !important;
    border-bottom: solid 1px #c7c7c7 !important;
 }
 .addcardStyle {
    height: 300px !important;
 }

